.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* border: green 5px solid; */
}

.section {
  flex: 1 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image,
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  padding: 20px;
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  white-space: pre-line;
}

.svg {
  width: 100%;
  height: 100%;
}

.model {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .section {
    flex: 0 0 50%;
  }
}

.line1 {
  --rem: 16;
  --c-black: #000;
  --c-white: #fff;
  --c-pink: hsl(325deg 100% 50%);
  --c-pink-params: 325deg 100% 50%;
  --c-green: hsl(85deg 100% 50%);
  --c-green-params: 85deg 100% 50%;
  --c-blue: hsl(210deg 100% 50%);
  --c-blue-params: 210deg 100% 50%;
  --fs-text: 2vh;
  --fs-small-text: 1.5vh;
  --fs-section-main: 20vh;
  --fs-section-sub: 10vh;
  --margin: 20px;
  --vw: 17.28px;
  --vh: 9.19px;
  --vmax: 17.28px;
  --vmin: 9.19px;
  --c-bg: rgba(0, 0, 0, 0);
  --c-highlight: rgb(0, 128, 255);
  --scroll-progress: 0.286536;
  --g-opacity: 1;
  font-synthesis: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  --scroll: 0.481861;
  font: inherit;
  font-family: "OT Yokai";
  font-weight: 700;
  color: #3c91e6;
  /* color: #06a77d; */
  font-size: var(--fs-section-main);
  line-height: 0.7;
  box-sizing: inherit;
  user-select: inherit;
  touch-action: inherit;
  backface-visibility: inherit;
  -webkit-user-drag: inherit;
  -webkit-tap-highlight-color: inherit;
  margin: 0;
  padding: 0;
}

.line2 {
  --rem: 16;
  --c-black: #000;
  --c-white: #fff;
  --c-pink: hsl(325deg 100% 50%);
  --c-pink-params: 325deg 100% 50%;
  --c-green: hsl(85deg 100% 50%);
  --c-green-params: 85deg 100% 50%;
  --c-blue: hsl(210deg 100% 50%);
  --c-blue-params: 210deg 100% 50%;
  --fs-text: 2vh;
  --fs-small-text: 1.5vh;
  --fs-section-main: 20vh;
  --fs-section-sub: 10vh;
  --margin: 20px;
  --vw: 17.28px;
  --vh: 9.19px;
  --vmax: 17.28px;
  --vmin: 9.19px;
  --c-bg: rgba(0, 0, 0, 0);
  --c-highlight: rgb(0, 128, 255);
  --scroll-progress: 0.286536;
  --g-opacity: 1;
  font-synthesis: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  --scroll: 0.481861;
  font: inherit;
  font-family: "OT Yokai";
  font-weight: 700;
  color: #04e762;
  font-size: var(--fs-section-main);
  line-height: 0.7;
  box-sizing: inherit;
  user-select: inherit;
  touch-action: inherit;
  backface-visibility: inherit;
  -webkit-user-drag: inherit;
  -webkit-tap-highlight-color: inherit;
  margin: 0;
  padding: 0;
  transform: translateX(0.78em);
}
